[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
