[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/transport_tool"]
	path = src/transport_tool
	url = https://github.com/ros-drivers/transport_drivers.git
[submodule "src/transport"]
	path = src/transport
	url = https://github.com/ros-drivers/transport_drivers.git
